.admin-menu {
    .ant-menu-item {
        color: var(--text-color);
        margin-bottom: 20px;
        font-size: medium;
        font-weight: 400;
        height: max-content;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 3px;
    }

    .ant-menu-item:hover {
        background: var(--menu-hover-color) !important;
        color: var(--primary-color) !important;
    }

    .ant-menu-item-selected {
        background: var(--menu-hover-color) !important;
        color: var(--primary-color) !important;
    }
}
